[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = '*'  # untill https://github.com/tiangolo/fastapi/issues/3665 will closed
pydantic = {extras = ["dotenv"],version = '*'}
uvicorn = '*'
httpx = '*'
odmantic = "*"
motor = "*"
betterlogging = '*'
apscheduler = '==3.9.1'
pytz = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
