[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = '==0.67.0'  # untill https://github.com/tiangolo/fastapi/issues/3665 will closed
pydantic = {extras = ["dotenv"],version = '*'}
uvicorn = '*'
httpx = '*'
odmantic = "*"
motor = "*"
betterlogging = '*'
apscheduler = '*'

[dev-packages]

[requires]
python_version = "3.7"
