[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = '*'
pydantic = {extras = ["dotenv"],version = '*'}
uvicorn = '*'
httpx = '*'
odmantic = "*"
motor = "*"
betterlogging = '*'
apscheduler = '*'
psycopg = {extras = ["binary"],version = '*'}
shapely = '*'

[dev-packages]

[requires]
python_version = "3.9"
